
<!-- <div style="margin:auto; width: 50%; border: 3px solid black; padding: 10px;">
	<select class="bg-secondary" style="margin:auto; width: 50%;" name="" id="" [(ngModel)]="CategorySelected" (ngModelChange)="onCategorySelected($event)">
		<option value="" *ngFor="let category of listCategoriebs" [value]="category.id">
			{{category.title}}
		</option>
	</select>
</div> -->


<!-- <article class="col-md-12">
	<div class="cards-1 section-gray">
			<div class="container">
					<div class="row">
							<div class="col-md-4" *ngFor="let event of listEvents">
									<div class="card card-blog" >
											<div class="card-image" >
													<a href="#"> <img class="img" src="http://adamthemes.com/demo/code/cards/images/blog01.jpeg">
															<div class="card-caption fs-2"><em>{{event.title}} </em> </div>
													</a>
													<div class="ripple-cont"></div>
											</div>
											<div class="table">
													<h6 class="category text-info fs-3">{{event.Location}}</h6>
													<p class="card-description fs-4"> {{event.about}} <br>{{event.due_date}} </p>
													<div class="container-fluid py-3">													
														<share-buttons theme="circles-dark"
															[include]="['copy', 'facebook', 'twitter', 'whatsapp']"
															[showIcon]="true"
															[showText]="false"
															url="https://rodrigo.kamada.com.br/"
															class="pt-1">
														</share-buttons>												
													</div>
											</div>
									</div>
							</div>
																
							
					</div>
			</div>
	</div> -->




















<div class="fh5co-loader"></div>
	<div id="page">


	<header id="fh5co-header" class="fh5co-cover js-fullheight" role="banner" style="background-image: url(/assets/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="display-t js-fullheight">
						<div class="display-tc js-fullheight animate-box" data-animate-effect="fadeIn">
							<h1>See <em>Events</em> Around You</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
	<br>

	
	
	<div id="fh5co-gallery" class="fh5co-section">
		<div class="container" >
			<div class="row">
				<div class="col-md-12 fh5co-heading animate-box">
					<h2>Events</h2>
					<div class="row">
						<div class="col-md-12 text-center">
							<p>Wondering how to spend you free time in a quality way? <br> Welcome to Events page where you view upcoming events <br> and also select by the category of your liking like <br> music, food and many more.</p>
						</div>
					</div>
				</div>

				



				<div style="margin:auto; width: 50%;  padding: 10px;">
					<!-- <h1 class="text-center text-light">Select <em> Events </em> By Categories</h1> -->
					<div class="drop">
						<label class="text-light fs-1" for="">Select <em> Events </em> By Categories
							<select class="bg-secondary text-light fs-4 "  name="" id="" [(ngModel)]="CategorySelected" (ngModelChange)="onCategorySelected($event)" >
								<option class="fs-4" value="" *ngFor="let category of listCategories" [value]="category.id">
									{{category.title}}
								</option>
							</select>
						</label>
					</div>
					
				</div>
				<br>
				<br>
				
				
				<!-- <article class="col-md-12"> -->
					<div class=" cards-1 section-gray">
							<div class="container">
									<div class="row">
											<div class="col-md-4" *ngFor="let event of listEvents">
													<div class="card card-blog" style="max-height: 400px">
															<div class="card-image" >
																	<a href="#"> <img class="img" style="max-height: 50vh" src="{{event.photo}}">
																			<div class="card-caption fs-2"><em>{{event.title}} </em> </div>
																	</a>
																	<div class="ripple-cont"></div>
															</div>
															<div class="table">
																	<h6 class="category text-info fs-3">{{event.Location}}</h6>
																	<p class="card-description fs-4 text-dark"> {{event.about}} <br>{{event.due_date}} </p>
																	<div class="container-fluid py-3">													
																		<share-buttons theme="circles-dark"
																			[include]="['copy', 'facebook', 'twitter', 'whatsapp']"
																			[showIcon]="true"
																			[showText]="false"
																			url="https://rodrigo.kamada.com.br/"
																			class="pt-1">
																		</share-buttons>												
																	</div>
															</div>
													</div>
											</div>
																				
											
									</div>
							</div>
					</div>

					<div id="fh5co-featured-menu" class="fh5co-section" >
						<div class="container">
							<div class="row" >				
								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
									<div class="fh5co-item" *ngFor="let events of lstEvents |slice:1:2">
										<img src="{{events.photo}}" class="img-responsive" style="max-height: 50vh" alt="">
										<h1 class="text-light">{{events.title}}</h1>
										<span class="fh5co-price">{{events.due_date}}</span>
										<p>{{events.about}}</p>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
									<div class="fh5co-item margin_top" *ngFor="let events of lstEvents |slice:2:3">
										<img src="{{events.photo}}" class="img-responsive" style="max-height: 50vh" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
										<h1 class="text-light">{{events.title}}</h1>
										<span class="fh5co-price">{{events.due_date}}</span>
										<p>{{events.about}}</p>
									</div>
								</div>
								<div class="clearfix visible-sm-block visible-xs-block"></div>
								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
									<div class="fh5co-item" *ngFor="let events of lstEvents |slice:3:4">
										<img src="{{events.photo}}" class="img-responsive" style="max-height: 50vh" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
										<h1 class="text-light">{{events.title}}</h1>
										<span class="fh5co-price">{{events.due_date}}</span>
										<p>{{events.about}}</p>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
									<div class="fh5co-item margin_top" *ngFor="let events of lstEvents |slice:0:1">
										<img src="{{events.photo}}" class="img-responsive" style="max-height: 50vh" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
										<h1 class="text-light">{{events.title}}</h1>
										<span class="fh5co-price">{{events.due_date}}</span>
										<p>{{events.about}}</p>
									</div>
								</div>

								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
									<div class="fh5co-item" *ngFor="let events of lstEvents |slice:4:5">
										<img src="{{events.photo}}" class="img-responsive" style="max-height: 50vh" alt="">
										<h1 class="text-light">{{events.title}}</h1>
										<span class="fh5co-price">{{events.due_date}}</span>
										<p>{{events.about}}</p>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
									<div class="fh5co-item margin_top" *ngFor="let events of lstEvents |slice:5:6">
										<img src="{{events.photo}}" class="img-responsive" style="max-height: 50vh" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
										<h1 class="text-light">{{events.title}}</h1>
										<span class="fh5co-price">{{events.due_date}}</span>
										<p>{{events.about}}</p>
									</div>
								</div>
								<div class="clearfix visible-sm-block visible-xs-block"></div>
								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
									<div class="fh5co-item" *ngFor="let events of lstEvents |slice:6:7">
										<img src="{{events.photo}}" class="img-responsive" style="max-height: 50vh" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
										<h1 class="text-light">{{events.title}}</h1>
										<span class="fh5co-price">{{events.due_date}}</span>
										<p>{{events.about}}</p>
									</div>
								</div>
								<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
									<div class="fh5co-item margin_top" *ngFor="let events of lstEvents |slice:7:8">
										<img src="{{events.photo}}" class="img-responsive" style="max-height: 50vh" alt="Free Restaurant Bootstrap Website Template by FreeHTML5.co">
										<h1 class="text-light">{{events.title}}</h1>
										<span class="fh5co-price">{{events.due_date}}</span>
										<p>{{events.about}}</p>
									</div>
								</div>
						</div>
					</div>
				</div>
				
					
	
	
	
	<div id="fh5co-started" class="fh5co-section animate-box" style="background-image: url(/assets/images/hero_1.jpeg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>Buy Tickets From M-tickets</h2>
					<p>Tickets from the Events of your liking can be purchased from M-tickets through M-Pesa till number.</p>
					<p><a href="https://mtickets.com/" target="_blank" class="btn btn-primary btn-outline">Buy Tickets</a></p>
				</div>
			</div>
		</div>
	</div>

	<app-footer></app-footer>
	</div>




 

